/*@tailwind base;*/
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    background: #F5F5F5F5 !important;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.table-result {
    overflow: hidden;
    padding: 10px;
}

.table-result td:not(:first-child) {
    padding: 0.6rem;
    text-align: center;
    border: 1px solid #000;
}

.table-result .text-th {
    font-weight: 700;
    color: #000000;
    border: 1px solid #000;
}

.table-result .text-td {
    font-weight: 700;
    color: #000000;
}

.MuiListItemText-secondary {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}